## Visual Studio / .NET ##

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# NuGet packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Rider
.idea/

# VS Code
.vscode/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.pdb
*.cache
*.log
*.tlog
*.tmp
*.bak
*.DotSettings.user

# OS-specific
.DS_Store
Thumbs.db